

.adminbtn{
  border: none;
  width: 10em;
  color: #ffff;
  background: #6394F8;
}
.cards{
  width: 18em;
  /* box-shadow: 0 5px 5px rgba(0,0,0,0.5); */
  padding-top:5px;
  padding-bottom: 5px;
background-color: #ffff;
}

.aviewbtn{
  width: 5em;
  color: #9a031e;


}